<div>
  <%= render "components/header", text: t('login') %>
  <%= bootstrap_form_tag url: session_url do |f| %>
    <%= f.text_field :username , label: t('activerecord.attributes.user.username') %>
    <%= f.password_field :password, label: t('activerecord.attributes.user.password') %>
    <%= f.submit t('login') , name: nil, class: "btn btn-primary mt-2 float-sm-end" %>
  <% end %>
</div>
