<%= render "search_form", controller: :missions, model: Mission %>
<table id="mission_table">
  <thead>
    <th><%= t('mission.title') %></th>
    <th><%= t('mission.due_date') %></th>
    <th><%= t('mission.status') %></th>
    <th><%= t('mission.priority') %></th>
    <th><%= t('option') %></th>
  </thead>
  <tbody>
    <% @missions.each do |mission|%>
      <tr id="tr_<%= mission[:id] %>">
        <td><%= mission.title %></td>
        <td><%= mission_due_date(mission.due_date) %></td>
        <td><%= render "status_form", mission: mission %></td>
        <td><%= t("mission.priorities.#{mission.priority}") %></td>
        <td>
          <%= link_to t('show') , mission_path(mission) %>
          <%= link_to t('edit') , edit_mission_path(mission)%>
          <%= link_to t('destroy') , mission_path(mission), method: :delete,
                                        data:{confirm: t("destroy_warning") }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('new_mission') , new_mission_path%>
