<ol>
  <% @missions.order(created_at: :asc).each do |mission|%>
    <li id="li_<%= mission[:id] %>">
      <%= mission.title %>
      <%= link_to t('show') , mission_path(mission) %>
      <%= link_to t('edit') , edit_mission_path(mission)%>
      <%= link_to t('destroy') , mission_path(mission), method: :delete,
                                        data:{confirm: t("destroy_warning") }%>
    </li>
  <% end %>
</ol>
<%= link_to t('new_mission') , new_mission_path%>
