<%= render "sort_form" , controller: :missions, model: Mission %>
<table id="mission_table">
  <tr>
    <th><%= t('title')%></th>
    <th><%= t('due_date')%></th>
    <th><%= t('option')%></th>
  </tr>
  <% @missions.each do |mission|%>
    <tr id="tr_<%= mission[:id] %>">
      <td><%= mission.title %></td>
      <td><%= mission_due_date(mission.due_date) %></td>
      <td>
        <%= link_to t('show') , mission_path(mission) %>
        <%= link_to t('edit') , edit_mission_path(mission)%>
        <%= link_to t('destroy') , mission_path(mission), method: :delete,
                                        data:{confirm: t("destroy_warning") }%>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to t('new_mission') , new_mission_path%>
