<h2><%= t('activerecord.attributes.user.username') %><%= @user.username %></h2>
<%= render "components/header", text: t('mission_table')%>
<div class="index-body">
  <div class="index-body-header">
    <div class="index-body-header-paginate m-1">
      <p class="m-2">
        <%= page_entries_info(@missions).html_safe %>
      </p>
      <%= paginate @missions, class: "pagination m-2"%>
    </div>
  </div>
  <table class="table index-body-table" id="user_table">
    <thead>
      <th width="120px" class="text-start text-nowrap"><%= t('activerecord.attributes.mission.title') %></th>
      <th width="80px"><%= t('activerecord.attributes.mission.due_date') %></th>
      <th width="80px"><%= t('activerecord.attributes.mission.status') %></th>
      <th width="70px"><%= t('activerecord.attributes.mission.priority') %></th>
      <th width="100px"><%= t('activerecord.attributes.tag') %></th>
    </thead>
    <tbody>
      <%= render partial: "mission", collection: @missions %>
    </tbody>
  </table>
</div>
</div>
