<!DOCTYPE html>
<html>
  <head>
    <title>MissionManageSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header g-3">
      <h2><i class="col bi bi-list-stars"></i><%= t('mission_management_system') %></h2>
      <%= link_to_if(session[:user_id].present?, t('logout') , session_url, method: :delete,
                                        data:{confirm: t("logout_warning") }, class: "btn btn-secondary"){} %>
    </header>
    <p><%= flash[:notice] %></p>
    <div class="mission-container justify-content-center">
      <%= yield %>
    </div>
  </body>
</html>
